
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="/YazarPaneli/assets/images/faces/face1.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">@ViewBag.dgr</span>
                    <span class="text-secondary text-small">.Net Developer</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <span class="menu-title">YazarPaneli</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/Yazar/YazarProfil/" >
                <span class="menu-title"> Profilim </span>
               
                <i class="mdi mdi-account-card-details  menu-icon"></i>
            </a>
           
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/YazarınBlogları/" >
                <span class="menu-title"> Bloglarım </span>
              
                <i class="mdi mdi-account menu-icon"></i>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/BlogEkle/">
                <span class="menu-title">YeniBlog</span>
                <i class="mdi mdi-account-plus  menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Mesajlar/GelenKutusu/">
                <span class="menu-title">Mesajlar</span>
                <i class="mdi mdi-comment  menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Bildirimler/BildirimListesi/">
                <span class="menu-title">Bildirimler</span>
                <i class="bi bi-bell-fill  menu-icon"></i>
                @*<i class="mdi mdi-bell-fill"></i>*@
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/Index/">
                <span class="menu-title">Siteye Git</span>
                <i class="mdi mdi-application  menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Yazar/YazarGüncelle/">
                <span class="menu-title">Ayarlar</span>
                <i class="mdi mdi-settings-box menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/Giris/Cıkıs/" >
                <span class="menu-title">Cıkıs Yap</span>
                <i class="mdi mdi-logout  menu-icon"></i>
            </a>
            
        </li>

    </ul>
</nav>